html
	include components/header.pug
	body
		include components/navbar.pug
		.container-fluid
			form#searchForm(action="/list", method="GET", class="search-wrapper")
				input.form-control(id="searchbar" list="autocomplete" name="searchvalue" type="text" placeholder="Search" required="")
				datalist(id="autocomplete")
					option(value="Male")
					option(value="Female")
					option(value="Families w/ newborns")
					option(value="Families")
					option(value="Children")
					option(value="Young adults")
					option(value="Anyone")
			p1.error=error
		.container-fluid
			.col-md-4#shelterList
				h1= "Shelters"
				each key, index in shelters
					.row
						a(href="list/" + index, title=key.name)
							.container-fluid
								h3= key.name
								p= key.address
			.col-md-8
				h1="Map"
				#map
		include components/maps.html
		script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBNgTSfwEO1JWPGleT_qmfSG6P-HNyrw2M&callback=initMap")
		// Adding markers for each of the shelters
		each key, index in shelters
			script addMarker(#{key.latitude}, #{key.longitude}, "#{key.name}", "#{key.phoneNum}", #{index});
