html
	include components/header.pug
	body
		include components/navbar.pug
		.container-fluid
			.row
				.col-md-4
					h2  Your Profile
					table.table
						tbody
							tr
								td Name
								// Display purposes
								.name-text
									td.name-text #{user.name}
									td.name-text
										a#change-name-link(href='#')
											i(class="fas fa-cog")
								// Change purposes
								.name-change
									td.name-change
										form(action="/profile", method="POST")
											input(type="text", value=user.name, name="name")
									td.name-change
										a#cancel-name-change-link(href='#')
											i(class="fas fa-times")

							tr
								td User Type
								td #{user.userType}
								td
									a#change-user-type(href='#')
										i(class="fas fa-cog")
							tr
								td Email
								td #{user.email}
								td
							tr
								td Beds Taken
								td #{user.bedsTaken}
								td
							tr
								td Logged Into
								td #{user.shelter}
								td
				.col-md-8
					if user.userType == 'admin'
						h2 Admin Dashboard
						table.table
							tbody
								tr
									th Name
									th Email
									th Ban/ Unban
								for other in userList
									tr
										td #{other.name}
										td #{other.email}
										td
											i(class="fas fa-ban ban")
		script(src='js/profile.js')